<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/header') %>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">
</head>

<body>
  <%- include ('../../partials/nav') %>
    <div class="container">
      <div class="row">
        <div class="col-mx-12">
          <div class="d-grid gap-2">
            <a href="./create" class="btn btn-outline-primary mt-4">Nuevo <i class="fas fa-plus-square"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <p></p>
      </div>
      <div class="row">
        <div class="table-responsive">
          <table id="detalle" class="table table-bordered table-striped text-center mt-4">
            <thead>
              <tr class="bg-primary text-white">
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Costo</th>
                <th scope="col">Pvp</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <% response.forEach((producto)=>{ %>
                <tr>
                  <td>
                    <%= producto.codigo %>
                  </td>
                  <td>
                    <%= producto.nombre %>
                  </td>
                  <td>
                    <%= producto.costo %>
                  </td>
                  <td>
                    <%= producto.pvp %>
                  </td>
                  <td>
                    <a href="./edit/<%= producto.codigo %>" class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                    <a href="./desactivar/<%= producto.codigo %>" class="btn btn-outline-danger"
                      onclick="confirmar()"><i class="fas fa-trash"></i></a>
                  </td>
                </tr>
                <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script>
      const confirmar = () => {
        alert("Se eliminará este producto");
      }
    </script>
    <%- include ('../../partials/foot') %>
      <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
      <script>

        $(document).ready(() => {

          //cambiando idioma de datatable
          var table = $('#detalle').DataTable({
            "language": {
              "decimal": ".",
              "emptyTable": "Sin datos",
              "infoFiltered": "(filtrado de _MAX_ total entradas)",
              "infoPostFix": "",
              "thousands": "",
              "lengthMenu": "Mostrando _MENU_ entradas por página",
              "loadingRecords": "Cargando...",
              "processing": "Procesando...",
              "search": "Buscar:",
              "paginate": {
                "first": "Primera",
                "last": "Última",
                "next": "Siguiente",
                "previous": "Anterior"
              },
              "aria": {
                "sortAscending": ": activar para ordenar columna ascendentemente",
                "sortDescending": ": activar para ordenar columna descendentemente"
              },
              "zeroRecords": "No se encuentra - lo sentimos",
              "info": "Mostrando página _PAGE_ de _PAGES_",
              "infoEmpty": "Sin entradas disponibles"
            }
          });

        });

      </script>
</body>

</html>